<div class="messageBox" id="newProjectModal">
  <div class="modal-header">
    <h3 data-bind="text:title"></h3>
  </div>
  <div class="modal-body">
      <form class="form-horizontal">
          <div class="control-group" data-bind="css:{error: !projectCode.isValid()}">
              <label class="control-label" for="projectCode" accesskey="c">Code:</label>
              <div class="controls">
                  <input id="projectCode" type="text" class="span1" data-bind="value: projectCode"/>             
                  <br />
                  <span class="help-inline" data-bind="validationMessage: projectCode"></span>
              </div> 
          </div>
          <div class="control-group" data-bind="css: { error: !projectName.isValid() }">
              <label class="control-label" for="projectName" accesskey="n">Name:</label>
              <div class="controls">
                  <input type="text" id="projectName" class="span3" data-bind="value:projectName" />
                  <br />
                  <span class="help-inline" data-bind="validationMessage:projectName"></span>
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-bind="click:cancel">Close</a>
    <a href="#" class="btn btn-primary" data-bind="enable:validation.isValid,click:save">Save changes</a>
  </div>
</div>