<section>
    <h2>Projects
    <div class="btn-group pull-right">
        <button class="btn" data-bind="click:newProject"><i class="icon-plus icon-white" /> Add Project</button>
        <button class="btn" data-bind="enable: listViewModel.selected, click:editProject"><i class="icon-edit icon-white" /> Edit Project</button>
        <button class="btn" data-bind="enable: false"><i class="icon-remove icon-white"/> Archive Project</button> 
    </div></h2>
    <br />
    <div class="row-fluid">
        <div class="span10 offset1" data-bind="pagedGrid:listViewModel,pagedGridTemplate:'projectListTemplate'"></div>
    </div>
</section>

<script type="text/html" id="projectListTemplate">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 10ex;">Code</th>
                <th>Name</th>
                <th style="width: 12ex;">Risks</th>
                <th style="width: 12ex;">Assumptions</th> 
                <th style="width: 12ex;">Issues</th>
                <th style="width: 12ex;">Dependencies</th>
                <th style="width: 12ex;">Queries</th>

            </tr>
        </thead>
        <tbody data-bind="foreach:itemsOnCurrentPage">
            <tr data-bind="click:$parent.setSelected, css:{selected:$data===$parent.selected()}">
                <td data-bind="text: $data.code"></td>
                <td data-bind="text: $data.name"></td>
                <td>
                    <a class="text-center" data-bind="attr:{href:projectRisksLink}">
                        <span data-bind="text: $data.activeRisks">0</span> / <span data-bind="text: $data.closedRisks">0</span>
                    </a>
                </td>
                <td>
                    <a class="text-center" data-bind="attr: {href:projectAssumptionsLink}">
                        <span data-bind="text: $data.activeAssumptions">0</span> / <span data-bind="text: $data.closedAssumptions">0</span>
                    </a>
                </td>
                <td>
                    <span data-bind="text: $data.activeIssues">0</span> / <span data-bind="text: $data.closedIssues">0</span>
                </td>
                <td>
                    <span data-bind="text: $data.activeDependencies">0</span> / <span data-bind="text: $data.closedDependencies">0</span>
                </td>
                <td>
                    <span data-bind="text: $data.activeQueries">0</span> / <span data-bind="text: $data.closedQueries">0</span>
                </td>
            </tr>
        </tbody>
    </table>
    
</script>