<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
                <i class="icon-home"></i>
                <span>RAID Logs</span>
            </a>
            <ul class="nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                <i class="icon-spinner icon-2x icon-spin"></i>
            </div>
            <form class="navbar-search pull-right" data-bind="submit: search">
                <input type="text" class="search-query" placeholder="Search" data-bind="enabled: canSearch, value: searchField">
            </form>
        </div>
    </div>
    
    <div class="container-fluid page-host">
        <!--ko router: { transition:'entrance', cacheViews:false }--><!--/ko-->
    </div>
</div>

<!-- pagedGrid Templates -->
<!-- TODO: Need to work out where best to put these... -->

<script id="ko_simpleGrid_grid" type="text/html">
    <table class="ko-grid" cellspacing="0">
        <thead>
            <tr data-bind="foreach: columns">
                <th data-bind="text: headerText"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: itemsOnCurrentPage">
            <tr data-bind="foreach: $parent.columns">
                <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] "></td>
            </tr>
        </tbody>
    </table>  
</script>
<script id="ko_simpleGrid_pageLinks" type="text/html">
    <div class="ko_grid_pageLinks" data-bind="visible: maxPageIndex > 0">
        <span>Page:</span>
        <!-- ko foreach: ko.utils.range(0, maxPageIndex) -->
        <a href="#" data-bind="text: $data + 1, click: function () { $root.currentPageIndex($data) }, css: { selected: $data == $root.currentPageIndex() }">
        </a>
        <!-- /ko -->
    </div>
</script>
    
<script id="assumptionListTemplate" type="text/html">
    <table id='assumptionTable' class='table table-bordered table-condensed table-striped'>
        <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody data-bind='foreach: itemsOnCurrentPage'>
            <tr data-bind='css: { listSelection: $parent.selected() == $data }'>
                <td data-bind='text: assumptionNumber'></td>
                <td data-bind='text: description'></td>
                <td data-bind='text: status'></td>
            </tr>
        </tbody>
    </table>            
</script>
