<section>
    <div class="row-fluid">
        <div class="span1">
            <button class="btn"><i class="icon-plus icon-white" /> Add Project</button><br />
            <button class="btn"><i class="icon-edit icon-white" />Edit Project</button><br />
            <button class="btn btn-danger"><i class="icon-remove icon-white"/>Archive Project</button> 
        </div>
        <div class="span11" data-bind="pagedGrid:listViewModel,gridTemplateName:projectListTemplate"></div>
    </div>
</section>

<script type="text/html" id="projectListTemplate">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th><abbr title="Risks">R</abbr> </th>
                <th><abbr title="Assumptions">A</abbr> </th> 
                <th><abbr title="Issues">I</abbr> </th>
                <th><abbr title="Dependencies">D</abbr></th>
                <th><abbr title="Queries">Q</abbr></th>

            </tr>
        </thead>
        <tbody data-bind="foreach:filteredData">
            <tr data-bind="click:setSelected, css:{selected:$data===$parent.selected}">
                <td><a data-bind="text: $data.code, click: $root.viewProject"></a></td>
                <td data-bind="text: $data.name"></td>
                <td>
                    <span class="badge badge-important" data-bind="text: $data.activeRisks, click: $root.viewActiveRisks">0</span>
                    <span class="badge badge-inverse" data-bind="text: $data.closedRisks, click: $root.viewClosedRisks">0</span>
                </td>
                <td>
                    <span class="badge badge-important" data-bind="text: $data.activeAssumptions, click: $root.viewActiveAssumptions">0</span>
                    <span class="badge badge-inverse" data-bind="text: $data.closedAssumptions, click: $root.viewClosedAssumptions">0</span>
                </td>
                <td>
                    <span class="badge badge-important" data-bind="text: $data.activeIssues, click: $root.viewActiveIssues">0</span>
                    <span class="badge badge-inverse" data-bind="text: $data.closedIssues, click: $root.viewClosedIssues">0</span>
                </td>
                <td>
                    <span class="badge badge-important" data-bind="text: $data.activeDependencies, click: $root.viewActiveDependencies">0</span>
                    <span class="badge badge-inverse" data-bind="text: $data.closedDependencies, click: $root.viewClosedDependencies">0</span>
                </td>
                <td>
                    <span class="badge badge-important" data-bind="text: $data.activeQueries, click: $root.viewActiveQueries">0</span>
                    <span class="badge badge-inverse" data-bind="text: $data.closedQueries, click: $root.viewClosedQueries">0</span>
                </td>
            </tr>
        </tbody>
    </table>
    
</script>