<section>
    <h1><span data-bind="text: projectCode"></span>: <span data-bind="text: projectName"></span> Risks</h1>
    <div class="row-fluid">
        <div class="span6">
            <div class="btn-group">
                <button class="btn" data-bind="click: newAssumption"><i class="icon-plus-sign icon-white"></i> Add New Assumption</button>
                <button class="btn" data-bind="click: refresh"><i class="icon-refresh icon-white"></i> Refresh</button>
            </div>
            <div id="riskListContainer" data-bind="simpleGrid: risks, simpleGridTemplate: riskListTemplate">
            </div>
            <h2 data-bind="visible: risks.data().length == 0" class="alert alert-info">No Assumptions</h2>
        </div>
    
    
        <div class='span6 well' data-bind='with: assumptions.selected, visible: assumptions.selected() != null, validationOptions: { insertMessages: true, errorMessageClass: "" }'>
            <form class="form-horizontal">
                <!-- Description -->
                <div class="control-group">
                    <label class="control-label" for="description" accesskey="D">Description</label>
                    <div class="controls">                     
                        <textarea id="description" name="description" data-bind="value: description" class="input-xlarge" rows="5" cols="40">There is a risk that...
because ...
leading to ...</textarea>
                    </div>
                </div>
                
                <div>
                    <button data-bind="click:$root.save,enabled:$root.canSave()"><i class="icon-save icon-white"/> Save</button>
                </div>
            </form>
        </div></div>
</section>