<section>
    <h2>Project Details: <span data-bind="text:Code"></span> <span data-bind="text:Name"></span></h2>
    
    <ul class="nav nav-tabs">
        <li class="active"> <a data-toggle="tab" data-target="#project_risk_list">Risks</a> </li>
        <li><a data-toggle="tab" data-target="#project_assumptions_list">Assumptions</a> </li>
        <li><a data-toggle="tab" data-target="#project_issues_list">Issues</a></li>
        <li><a data-toggle="tab" data-target="#project_dependencies_list">Dependencies</a></li>
        <li><a data-toggle="tab" data-target="#project_queries_list">Queries</a></li>
    </ul>
    
    <div class="tab-content">
        <div id="project_risk_list" class="tab-pane active" data-bind="compose:projectRisks.html">
            <div class="row">
                <div class="span6"></div>
                <div class="span6" data-bind="compose:viewmodels/riskDetails"></div>
            </div>
        </div>        
        <div id="project_assumptions_list" class="tab-pane"></div>        
        <div id="project_issues_list" class="tab-pane"></div>        
        <div id="project_dependencies_list" class="tab-pane"></div>        
        <div id="project_queries_list" class="tab-pane"></div>        
    </div>

</section>