<section>
    <h1>Active Projects</h1>
    
    <button class="btn btn-primary pull-right" data-bind="click: addProject">Add Project</button>

    <h2 class="text-center" data-bind="visible:projects().length === 0">No Projects</h2>

    <table id="projects" class="span12 table table-striped table-bordered" data-bind="visible:projects().length > 0">
        <caption>Projects</caption>
        <thead>
            <tr>
                <th rowspan="2">Code</th>
                <th rowspan="2" class="">Name</th>
                <th colspan="5">Open Items</th>
            </tr>   
            <tr>
                <th>
                    <abbr title="Risks">R</abbr>
                </th>
                <th>
                    <abbr title="Assumptions">A</abbr> 
                </th>
                <th>
                    <abbr title="Issues">I</abbr>
                </th>
                <th>
                    <abbr title="Dependencies">D</abbr>
                </th>
                <th>
                    <abbr title="Queries">Q</abbr>
                </th>
            </tr>   
        </thead>
        <tbody data-bind="foreach:projects">
            <tr>
                <td><a data-bind="text: $data.code, click:$root.viewProject"></a></td>
                <td data-bind="text: $data.name"></td>
                <td class="narrowCount" data-bind="text: $data.activeRisks,click:$root.viewRisks">0</td>
                <td class="narrowCount" data-bind="text: $data.activeAssumptions">0</td>
                <td class="narrowCount" data-bind="text: $data.activeIssues">0</td>
                <td class="narrowCount" data-bind="text: $data.activeDependencies">0</td>
                <td class="narrowCount" data-bind="text: $data.activeQueries">0</td>
            </tr>
        </tbody>
    </table>
</section>
